.social-primary {
    &__item {
        padding: 5px;
    }
    &__link {
        width: 40px;
        height: 40px;
        border-radius: 999px;
        // background-color: #d6343d;
        background-color: #ffd007;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        height: 16px;
        width: auto;
    }
}

.pagination {
    flex-wrap: wrap;
    &-item {
        margin: 4px;
       
        &.active {
            .pagination-link {
                color: #A61B28;
                border-bottom: 1px solid #A61B28;
            }
        }
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;

        &:hover {
            color: #A61B28;
        }

        img {
            height: 20px;
            width: auto;
        }
    }

}
.breadcrumb {
    // flex-wrap: nowrap;
    // overflow: auto;
    // white-space: nowrap;
    &-item {
        position: relative;
        padding: 12px 10px;
        font-size: 16px;

        + .breadcrumb-item {
            margin-left: 20px
        }

        &:first-child {
            &::after {
                content: "\276F";
                position: absolute;
                top: 50%;
                right: -15px;
                transform: translateY(-50%);
                font-size: 16px;
                color: #ffffff;
            }
        }

        &.active {
            font-weight: bold;
        }
    }

    &--black {
        .breadcrumb-item {
            &:first-child {
                &::after {
                    color: #2f353d;
                }
            }
        }
    }
}
.coating {
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);
        z-index: 1;
    }
}
.line-before-w {
    position: relative;
    padding-left: 44px;
    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 2px;
        bottom: 50%;
        left: 0;
        background-color: #fff;
    }
}
.line-before-red {
    position: relative;
    padding-left: 44px;
    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 2px;
        bottom: 50%;
        left: 0;
        // background-color: #d6343d;
        background-color: #ffd007;
    }
}
.line-after-red {
    position: relative;
    padding-right: 44px;
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 2px;
        bottom: 50%;
        right: 0;
        // background-color: #d6343d;
        background-color: #ffd007;
    }
}
/*======================================================================== intro */

.intro-primary {
    &__content {
        padding: 150px 0;
    }
    &__heading {
        .title {
            display: inline-block;
            position: relative;

            &::before {
                content: "";
                height: 2px;
                width: 32px;
                display: inline-block;
                // background-color: #d6343d;
                background-color: #ffd007;
                margin-right: 12px;
                top: -9px;
                left: -44px;
                position: relative;
            }
            &::after {
                content: "";
                height: 2px;
                width: 32px;
                display: inline-block;
                // background-color: #d6343d;
                background-color: #ffd007;
                margin-right: 12px;
                top: -9px;
                right: -44px;
                position: relative;
            }
        }
    }
}

.intro-secondary {
}

.intro-tertiary {
    &__inner {
        align-items: stretch;
    }
    &__left {
        .item {
            display: flex;
            padding: 22px 20px;
            gap: 10px;
            background: #ffffff;
            box-shadow: 0px 0px 20px rgba(177, 177, 177, 0.25);
            border-radius: 8px;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            border: 1px solid #c4d7e1;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .btn {
            // background-color: #d6343d;
            background-color: #ffd007;
            border-radius: 2px;
            margin-top: auto;

            &:hover {
                // background-color: #b3242c;
                background-color: #ffd007;
                color: #fff;
            }
        }
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}


.intro-quaternary {
    &__content {
        .article {
            
            &:nth-child(odd){
                .article-img {
                    order: 2;
                }
                .article-content {
                    order: 1;
                    padding-left: 0;
                    padding-right: 15px;
                }
            }
            
            &:nth-child(even){}
        }

        .article-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.intro-quinary {
    background-color: #f1f5f9;
    margin-bottom: 150px;
    &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        bottom: 0;
        height: 150px;
        width: 100%;
    }
}

.intro-senary {
    &__top {
        margin-top: -100px;
        padding: 55px;
        margin-bottom: 60px;
        border-radius: 8px;
        // background-image: linear-gradient(to right, #9b0000, #db0004, #9b0000);
        background-image: linear-gradient(to right, #ffd007, #ffdf50, #ffd007);
        justify-content: space-evenly;

        .btn-white {
            background-color: #fff;
            // color: #d6343d;
            color: #ffd007;
            padding: 0 33px;
            font-weight: 500;
            height: 44px;
            display: inline-flex;
            align-items: center;
            border: 2px solid transparent;
            border-radius: 4px;
        }
    }

    &__bot {
        .item-img {
            .article-img {
                height: 100%;
                padding: 14px 40px;
                background-color: #ffffff;
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
                border-radius: 2px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.intro-secondary {
    &__pdf {
        padding-bottom: 107%;
        position: relative;
        iframe {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.intro-nonary {
    background-color: #f1f5f9;
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .article {
            width: 45%;
            padding: 15px;
            cursor: pointer;
            position: relative;

            &:hover {
                .article-img {
                    transform: rotateX(180deg);
                    opacity: 0;
                    transition: 0.5s;
                }
                .article-content {
                    transform: rotateX(0);
                    transition: 0.5s;
                }
            }

            &:nth-child(3n+1) {
                .article-content {
                    background-color: #3d95c7;
                }
            }
            &:nth-child(3n+2) {
                .article-content {
                    background-color: #c9486f;
                }
            }
            &:nth-child(3n+3) {
                .article-content {
                    background-color: #9c51b6;
                }
            }
        }
        .article-img {
            display: block;
            position: relative;
            z-index: 10;
            margin: 0;
            backface-visibility: hidden;
            transition: all 0.5s;
        }
        .article-content {
            color: white;
            position: absolute;
            z-index: 9;
            box-sizing: border-box;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px 28px;
            text-align: center;
            backface-visibility: hidden;
            transform: rotateX(-180deg);
            transition: all 0.5s;
        }
    }

    &__bot {
        grid-gap: 40px 80px;
        gap: 40px 80px;
        align-items: flex-start;
        .article {
            border-radius: 8px;

            &:nth-child(even){
                margin-top: 30px;
            }
        }

        .article-img {
            img {
                height: 81px;
                width: auto;
            }
        }
    }
}

.intro-decenary {
    background: linear-gradient(359.47deg,#f1f5f9 -1.95%,rgba(241,245,249,0) 95.83%);

    .swiper-slide {
      transform: scale(0.8);
      opacity: 0.6;
    }

    .swiper-slide.swiper-slide-active {
      transform: scale(1.1);
      opacity: 1;
    }

    &__bot {
        margin-top: 50px;
        .article {
            position: relative;
            &:hover {
                transition: 0.5s;
                background: rgba(94, 142, 215, 0.7);
                .article-bio {
                    display: block;
                }
            }

        }

        .article-img {
            img {
                opacity: 0.4;
            }
        }

        .article-bio {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            padding: 10px;
            display: none;
        }
    }
}

.intro-eleven {
    &__left {
        .des {
            max-width: 400px;
        }
    }
}

/*======================================================================== service */
.service-secondary {
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        &.active {
            .service-secondary__link {
                // background-color: #d6343d;
                background-color: #ffd007;
                color: #fff;
            }
        }
    }
    &__link {
        font-weight: 600;
        padding: 11px 15px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.service-tertiary {
    background-color: #4267b2;
}

.service-quinary {
    background-color: #e1e5e9;

    &__list {
        .article-img {
            img {
                height: 90px;
                width: auto;
            }
        }
    }
}


.service-senary {
    &__content {
        .article {
            &:nth-child(odd) {
                .article-img {
                    order: 2;
                }
                .article-content {
                    order: 1;
                    padding-left: 0;
                    padding-right: 20px;
                }
            }
        }

        .article-heading {
            margin-bottom: 30px;
            position: relative;
        }
        .article-step {
            background-color: #4267b2;
            color: white;
            font-weight: bold;
            position: absolute;
            top: -20px;
            left: 0;
            border-radius: 8px;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
            height: 60px;
            min-width: 110px;
            text-align: center;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .article-title {
            width: calc(100% - 20px);
            margin: 20px 0px 0px 20px;
            border-radius: 2px;
            padding: 10px 10px 10px 110px;
            min-height: 50px;
            display: flex;
            align-items: center;
            background-color: #e1e5e9 ;
        }
    }
}

.service-septenary {
    &__bg {

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            z-index: 1;
        }
    }

    &__list {
        .article-item {
            position: relative;
            margin-bottom: 30px;
            line-height: 30px;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: -40px;
                height: 30px;
                width: 30px;
                border-radius: 20px;
                background: linear-gradient(0deg, rgba(66, 103, 178, 0.2), rgba(66, 103, 178, 0.2)), #ffffff;
            }

            &::after {
                content: "";
                position: absolute;
                top: 10px;
                left: -30px;
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background: #4267b2;
            }
        }

        .article-title {
            color: #4267b2;
            font-weight: 500;
        }
        .article-des {
            font-size: 16px;
            margin-top: 10px;
        }
        .block-quote {
            padding: 16px;
            margin-top: 12px;
            background-color: #0098a6 ;
        }
    }
}


.service-octonary {
    &__container {
        .article-btn {
            padding: 20px;

            &__title {
                font-weight: 600;
                // color: #d6343d;
                color: #ffd;
            }

            &__link {
                color: #0098a6 ;
                font-weight: 500;
                
            }
        }
    }

}

.service-eleven {
    &__container {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
/*======================================================================== contact */

.contact-secondary {
    background-color: #f1f5f9;
    .article-des {
        p + p {
            margin-top: 12px;
        }
    }
    .article-img {
        img {
            height: 120px;
            width: auto;
        }
    }
}

.contact-tertiary {
    &__form {
        background-color: #0098a6;
        padding: 50px 40px;
        border-radius: 6px;

        label {
          margin-bottom: 8px;
          font-weight: 500;
          display: block;
        }
        .contact-field {
        }
        input  {
            width: 100%;
            background-color: rgb(255, 255, 255);
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            padding: 12px;
            overflow: hidden;
            font-size: 16px;
            &::placeholder{color: #9e9e9e;}
        }
    
        textarea {
            width: 100%;
            border: none;
            border-radius: 4px;
            padding: 12px;
            overflow: hidden;
            background-color: rgb(255, 255, 255);
            border: 1px solid #d9d9d9;
            height: 100px;
            font-size: 16px;
        }
    
        .custom-select {
             width: 100%;
            background-color: rgb(255, 255, 255);
            border: 1px solid #d9d9d9;
            border-radius:4px;
            padding-right: 12px;
            overflow: hidden;
          }
          select {
            width: 100%;
            padding: 12px;
            background-color: transparent;
            font-size: 16px;
            &::placeholder{color: #9e9e9e;}
        }
    
        .contact-btn {
          .btn {
            height: 60px;
          }
        }
        
    }
}

.contact-quaternary {
    &__map {
        width: 100%;
        height: 500px;
    }
    &__container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
    }

    &__content {
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        background-color: rgba(47, 53, 61, 0.7);
        padding: 30px 20px;
        max-width: 270px;
    }
}
/*======================================================================== news */
.news-tertiary {
    &:nth-child(even) {
        background-color: #e1e5e9;
    }
}