.detail-primary {
    &__container {}
    &__left {
        max-width: calc(100% - 330px);
        width: 100%;

    }
    &__right {
        max-width: 300px;
        width: 100%;
        position: relative;

    }
}

.detail-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
}
.detail-sapo {
    font-size: 24px;
    p {
        font-size: 24px;
        line-height: 150%;
    }
}

.detail-content {
    & figure {
        margin-bottom: 1.25rem;

        img {
            width: 100%;
            height: auto !important;
            margin: auto;
        }
    }
    & figure figcaption {
        background: #fff;
        padding: 0.625rem 0.9375rem;
        font-size: 14px;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        line-height: 1.25rem;
        color: #555;
        text-align: center;
        // font-style: italic;
    }
    & figure figcaption em {
        font-style: italic;
    }
    & figure h2,
    figure h3,
    figure h4,
    figure h5,
    figure h6,
    figure p {
        font-weight: normal !important;
        font-size: 14px !important;
        margin: 0 auto;
        line-height: 1.3 !important;
        color: #555;
        font-family: "Roboto", serif;
    }

    & p a {
        color: #A61B28;
        font-style: italic;
        
        &:hover {
            text-decoration: underline;
        }
    }
    & p,
    & li {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 160%;
        word-break: break-word;
        color: #212121;
        

    }
    & ul {
        padding-left: 30px;
    }
    & ul li {
        list-style: disc;
    }
    &  h2,
    &  h3,
    &  h4,
    &  h5,
    &  h6 {
        font-weight: 600;
        margin-bottom: 15px;
        font-family: "Roboto", serif;
        color: #181E23;
    }
    &  h2 {
        font-size: 24px;
    }
    &  h3 {
        font-size: 22px;
    }
    &  h4 {
        font-size: 20px;
    }
    &  h5 {
        font-size: 18px;
    }
    &  h6 {
        font-size: 16px;
    }

    & blockquote {
        background: #ffd007;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        z-index: 5;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;
        font-size: 18px;
        color: #212121;

        & p {
            color: #212121;
            font-size: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h2,h3,h4,h5,h6 {
            color: #212121;
        }

        a {
            color: #A61B28;
        }
    }

    table {
        width: 100%;
        margin: 20px 0;
        background: #fff;
        overflow: hidden;
        // border: 1px solid;
        tr {
            border-bottom: 1px solid;
        }
        th {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            strong {
                color: #A61B28;
            }
        }
        td {
            padding: 15px;
            font-size: 15px;
            border-bottom: 1px solid;
            text-align: center;
            vertical-align: middle;
            strong {
                color: #A61B28;
            }
        }
         p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

.detail-tags {
    .tags-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .tag-link {
        display: inline-block;
        padding: 12px 20px;
        background-color: #ffd007;
        font-size: 14px;
        color: #fff;
        border-radius: 999px;
        overflow: hidden;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}
.article-related {
    .article {
        &:last-child {
            border-bottom: none;
        }
    }
}
.service-related {
    &__content {
        .article {
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
}
// print
.print-box {
    .detail-content {
        padding-left: 0;

        p {
            text-align: justify;
            word-break: break-word;
        }
    }
    .print-btn {
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: #9b9b9b;

        &:hover {
            background-color: #555;
        }
    }
}
.logo-print {
    img {
        width: 230px;
        height: auto;
    }
}

@media print {
    body, html {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin-left: 20mm;
        visibility: hidden;
    }
    .print-box__container {
        visibility: visible;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        width: calc(100% - 20mm);
        max-width: 100%;
        page-break-inside: avoid;
        overflow: visible;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .print-btn {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .detail-content {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .detail-content, .expNoEdit, .expEdit {
        page-break-inside: avoid;
    }
    h1, h2, p, figure {
        page-break-inside: avoid;
    }

}